*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    max-width: 1400px; 
    margin: 0 auto;
    background: rgba(243, 239, 194, 0.3);
}

body {
    position: relative;
}
header h1 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    padding-left: 20px;
    color: #0774bd;
}

#search {
    width: 50%;
    height: 40px;
    border: #e2dfdf 2px solid;
    border-radius: 20px;
    padding-left:20px;
    margin:20px 20px 15px; 
    font-size: 15px;
}


.grid-container {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    gap: 22px;
    width: 100%;
    padding:20px;
}
.avatar{
     border-radius: 50%;
      width:35%;
      transition: all .5s;
}
.avatar:hover {
    transform: scale(1.5) rotate(10deg);
  }
 
h2 {
 font-size: 16px;
}
p {
    font-size: 12px;
    color: rgb(128, 123, 123);
    font-weight: lighter;
}
 .card{
   display: flex;
   align-items: center; 
   border: #d3caca 2px solid;
   border-radius: 5px;
   padding: 12px;
   background-color: white;
 }
 .text-container {
     line-height: 1.15;
     padding-left: 15px;
 }
 .email {
     color: #006cb4;
 }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(75, 80, 49, 0.8)
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close{
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

